<html>

<head>
  <title>UAVTASG7 Control Panel</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

  <style>
    /* Doesnt include spinners */
    /* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; */

    img {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 35%
    }
  </style>
</head>

<body>
  <div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="#" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{{ url_for('recording') }}" class="nav-link">Recording</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Image Processing</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Air Quality</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Settings/Restart</a></li>
      </ul>
    </header>
  </div>


  <div class="px-4 py-5 my-5 text-center">
    <!-- <img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> -->
    <h1 class="display-5 fw-bold">UAVTASG7 Control Panel</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Control Panel for </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
        <form method="get" action="{{ url_for('recording') }}">
          <button id="downlaod" type="submit" class="btn btn-outline-secondary btn-lg px-4">Start Recording</button>
        </form>
        <form method="get" action="{{ url_for('get_recording') }}">
          <button id="downlaod" type="submit" class="btn btn-outline-secondary btn-lg px-4">Get Recording</button>
        </form>
        <button id="clear" type="button" class="btn btn-outline-secondary btn-lg px-4">Clear Recordings</button>
      </div>
    </div>
  </div>


  <script>

    async function clearRecordings() {
      const res = await fetch("{{ url_for('clean_output') }}");
    }

    $("#startRec").on('click', onStartRec);
    $("#stopRec").on("click", onStopRec);

  </script>
</body>

</html>