<html>
<!-- NOTE PLEASE ZOOM OUT ONE LVEL ON NON 6 by 9 -->

<head>
  <title>UAVTASG7 Control Panel</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- bootstrap imports -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
    crossorigin="anonymous"></script>

  <!-- xterm imports -->

  <script src="https://cdn.jsdelivr.net/npm/xterm@4.14.1/lib/xterm.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/xterm@4.14.1/css/xterm.min.css">
  <script src="https://cdn.jsdelivr.net/npm/xterm-addon-fit@0.5.0/lib/xterm-addon-fit.min.js"></script>

  <!-- sockeio imports -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"
    integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA=="
    crossorigin="anonymous"></script>

  <!-- chartjs includes -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
  <script
    src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>


  <style>
    /* Doesnt include spinners */
    /* @import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css"; */

    .webcam-disp {
      object-fit: contain;
    }

    .hist-img-placeholder {
      display: none;
    }

    .table-condensed {
      font-size: 10px;
      margin-bottom: 0 !important;
    }

    /* .disabled-chart {
      display: none !important;
    } */

    /* .chart {
      width: 100%;
    } */

    .h-90 {
      height: 90%
    }

    .h-80 {
      height: 80%;
    }

    .h-20 {
      height: 20%;
    }

    .h-70 {
      height: 70%;
    }

    .h-30 {
      height: 30%;
    }

    .h-40 {
      height: 40%;
    }

    .h-60 {
      height: 60%;
    }

    .h-10 {
      height: 10%;
    }

    .table-condensed>thead>tr>th,
    .table-condensed>tbody>tr>th,
    .table-condensed>tfoot>tr>th,
    .table-condensed>thead>tr>td,
    .table-condensed>tbody>tr>td,
    .table-condensed>tfoot>tr>td {
      padding: 5px;
    }
  </style>
</head>

<body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">UAVTASG7 Control Panel</a>

      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('recording') }}" class="nav-link">Archive</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('recording') }}" class="nav-link">Recording</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Settings/Restart</a>
        </li>
      </ul>

      <!-- <button id="" type="button" class="btn btn-primary btn-lg px-4 gap-3" >Test</button> -->

      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
        <label class="form-check-label" for="defaultCheck1">
          Enable Speech
        </label>
      </div>

      <label>LCD Mode Select:</label>
      <div class="border d-flex rounded">
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="lcdMode" id="inlineRadio1" value="0">
          <label class="form-check-label" for="inlineRadio1">0 (IP)</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="lcdMode" id="inlineRadio2" value="1">
          <label class="form-check-label" for="inlineRadio2">1 (Temperature)</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="lcdMode" id="inlineRadio3" value="2">
          <label class="form-check-label" for="inlineRadio3">2 (Live Feed)</label>
        </div>
      </div>

    </div>
  </nav>

  <!-- cols is out of 12 -->
  <ul id="hist-img-container" class="list-group list-group-flush col-2 position-absolute overflow-auto h-90">
    <li class="hist-img-placeholder list-group-item">
      <img src="static/output/1634170119.jpg" tabindex="0" class="img-fluid" data-bs-toggle="popover"
        title="Image" data-bs-content="test\n stuff">
    </li>
  </ul>

  <div class="offset-2 col-10 container-fluid">
    <div class="h-90">
      <div class=" row" style="height: 65%;">

        <div class="col border border-primary">
          <h6 class="fw-bold text-center">Live Feed</h6>
          <img id="video" class="d-block mx-auto img-fluid" src="{{ url_for('web_vis_feed') }}" />
          <!-- <p id="detected" class="lead mb-4">Currently Detected: </p> -->
        </div>
        <div class="col border border-primary">
          <div class="h-10">
            <ul id="chart-link-container" class="nav nav-tabs">
              <li id="Temp" class="nav-item">
                <a class="nav-link active" href="#">Temperature</a>
              </li>
              <li id="Pressure" class="nav-item">
                <a class="nav-link" href="#">Pressure</a>
              </li>
              <li id="Humidity" class="nav-item">
                <a class="nav-link" href="#">Humidity</a>
              </li>
              <li id="Light" class="nav-item">
                <a class="nav-link" href="#">Light</a>
              </li>
              <li id="Gas" class="nav-item">
                <a class="nav-link" href="#">Gas</a>
              </li>
            </ul>
          </div>
          <div class="h-90">
            <!-- Width and height are only for aspect ratio -->
            <canvas id="chart" width="50" height="28"></canvas>
            <!-- <canvas id="Pressure" class="disabled-chart chart" width="400" height="400"></canvas> -->
          </div>
        </div>
      </div>
      <div class="row" style="height: 35%;">
        <div class="col-8 h-100" id="terminal"></div>
        <div class="col">
          <h5 class="fw-bold text-center">Sensor Logs</h5>
            <table class="table table-bordered table-sm table-condensed">
              <thead>
                <tr>
                  <th scope="col">Sensor</th>
                  <th scope="col">Data</th>
                  <th scope="col">Unit</th>
                </tr>
              </thead>
              <tbody id="sensor-body">
                <tr id="Temp">
                  <th scope="row">Temperature</th>
                  <td>Data</td>
                  <td>C</td>
                </tr>
                <tr id = "Pressure">
                  <th scope="row">Pressure</th>
                  <td>Data</td>
                  <td>hPa</td>
                </tr>
                <tr id = "Humidity">
                  <th scope="row">Humidity</th>
                  <td>Data</td>
                  <td>%</td>
                </tr>
                <tr id = "Light">
                  <th scope="row">Light</th>
                  <td>Data</td>
                  <td>Lux</td>
                </tr>
                <tr id = "Gas_Reducing">
                  <th scope="row">Gas Reducing</th>
                  <td>Data</td>
                  <td>kO</td>
                </tr>
                <tr id = "Gas_nh3">
                  <th scope="row">Gas NH3</th>
                  <td>Data</td>
                  <td>kO</td>
                </tr>
                <tr id = "Gas_Oxidising">
                  <th scope="row">Gas Oxidising</th>
                  <td>Data</td>
                  <td>kO</td>
                </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>


  </div>
  <script>



    var chartColours = {
      'Temp': '#390099',
      'Pressure': '#6C0079',
      'Humidity': '#6C0079',
      'Light': '#FF0054',
      'Gas_Reducing': '#FF5400',
      'Gas_nh3': '#FF8900',
      'Gas_Oxidising': '#FFBD00',
      trans: function (colour) {
        return `${this[colour]}0f`;
      }
    }

    var ctx = $("#chart").get(0).getContext('2d');
    var chart = new Chart(ctx, {
      type: 'line',
      data: {
        datasets: [{
          label: 'Temp',
          // data: [{ x: 1633957352745, y: 0.1 }],
          data: [],
          backgroundColor: chartColours.trans('Temp'),
          borderColor: chartColours.Temp,
          yAxisID: "other",
          hidden: true
        },
        {
          label: 'Pressure',
          data: [],
          backgroundColor: chartColours.trans('Pressure'),
          borderColor: chartColours.Pressure,
          yAxisID: "other",
          hidden: true
        },
        {
          label: 'Humidity',
          data: [],
          backgroundColor: chartColours.trans('Humidity'),
          borderColor: chartColours.Humidity,
          yAxisID: "other",
          hidden: true
        },
        {
          label: 'Light',
          data: [],
          backgroundColor: chartColours.trans('Light'),
          borderColor: chartColours.Light,
          yAxisID: "other",
          hidden: true

        },
        {
          label: 'Gas_Reducing',
          data: [],
          backgroundColor: chartColours.trans('Gas_Reducing'),
          borderColor: chartColours.Gas_Reducing,
          yAxisID: "other",
          hidden: true

        },
        {
          label: 'Gas_nh3',
          data: [],
          backgroundColor: chartColours.trans('Gas_nh3'),
          borderColor: chartColours.Gas_nh3,
          yAxisID: "Gas_nh3",
          hidden: true

        },
        {
          label: 'Gas_Oxidising',
          data: [],
          backgroundColor: chartColours.trans('Gas_Oxidising'),
          borderColor: chartColours.Gas_Oxidising,
          yAxisID: "Gas_Oxidising",
          hidden: true

        }
        ]
      },
      options: {
        scales: {
          other: {
            type: 'linear',
            position: 'left',
            display: true
          },
          Gas_nh3: {
            backgroundColor: chartColours.trans('Gas_nh3'),
            type: 'linear',
            position: 'right',
            display: false
          },
          Gas_Oxidising: {
            backgroundColor: chartColours.trans('Gas_Oxidising'),
            type: 'linear',
            position: 'right',
            display: false
          },
          x: {
            type: 'time',
            time: {
              // unit: 'minute'
              // parsing: false
            }
          }
        }
      },
      responsive: true,
      maintainAspectRatio: true
    });

    let currentlyEnabledID = $("#chart-link-container > li").has('a.active').attr('id');
    chart.data.datasets.find(d => d.label == currentlyEnabledID).hidden = false;

    $('#chart-link-container > li').each((ind, el) => {
      const id = $(el).attr('id');
      $(el).children('a').eq(0).on('click', (event) => {
        console.log(event.target, id, "stuff");

        // chart.data.datasets[0].hidden = true;

        chart.data.datasets.forEach(dataset => {
          if (id == "Gas" && dataset.label.startsWith('Gas')) dataset.hidden = false;
          else if (id == dataset.label) dataset.hidden = false;
          else dataset.hidden = true;
        });

        if (id == "Gas") {
          chart.options.scales.Gas_nh3.display = true;
          chart.options.scales.Gas_Oxidising.display = true;
        }
        else {
          chart.options.scales.Gas_nh3.display = false;
          chart.options.scales.Gas_Oxidising.display = false;
        }
        chart.update();

        $('#chart-link-container > li > a').toggleClass('active', false);
        $(event.target).toggleClass('active', true);

      })
    });


    const lcdModeVal = "{{ lcd_mode }}";
    console.log({ lcdModeVal })
    $(`input[type=radio][name=lcdMode][value=${lcdModeVal}]`).prop("checked", true);

    var term = new Terminal();
    term.open($('#terminal').get(0));
    const fitAddon = new FitAddon.FitAddon();
    term.loadAddon(fitAddon);
    fitAddon.fit();
    // term.write('Hello from \x1B[1;3;31mxterm.js\x1B[0m $ ')
    term.onData(data => {
      //Does not detect enter key
      if (data == "\r\n") {
        console.log("hey man")
      }
      term.write(data);
      console.log(data);
    });

    // var socket = io('/', {transports: ['websocket']});
    var socket = io();
    socket.on('connect', function () {
      socket.send("connecting");
    });

    socket.on('event', (data) => {
      console.log(data);
      term.write(`server_event: ${JSON.stringify(data)}\r\n`);
    })


    function sayObjects(objs) {
      var ar = ""

      const speechString = objs.reduce((acc, val, ind) => {
        if (ind === objs.length - 1) return acc + val;
        else return acc + val + " and "
      }, "");

      let speech = new SpeechSynthesisUtterance();
      speech.text = speechString;
      var voices = window.speechSynthesis.getVoices();
      speech.voice = voices[0];
      window.speechSynthesis.speak(speech);
    }

    socket.on('img', (data) => {
      const uri = data.file_path;
      term.write(`image_event:${JSON.stringify(data)}\r\n`);
      const clonedHolder = $(".hist-img-placeholder").clone().appendTo("#hist-img-container").removeClass("hist-img-placeholder")
      const img = clonedHolder.find('img');
      var popover = new bootstrap.Popover(img, {
        trigger: 'focus'
      });

      img.attr("src", uri);
      // title="Image" data-bs-content
      img.attr("title", `Image: ${data.timestamp}`)
      // img.attr("data-bs-content", )
      $("#hist-img-container").animate({ scrollTop: clonedHolder.position().top }, 500);

      const objs = [...data.obj.map((o) => o.name), ...data.aruco.map(a => `aruco ${a}`)]
      sayObjects(objs);

    })

    socket.on('sensor', (data) => {
      term.write(`sensor_event:${JSON.stringify(data)}\r\n`)
      chart.data.datasets.forEach(dataset => {
        const dataObj = { x: data.timestamp, y: data[dataset.label] };
        dataset.data.push(dataObj);
      });
      chart.update();

      $("tbody#sensor-body").children('tr').each((ind, el) => {
        // const id = $(this).attr('id');  //IMPORTANT: THIS WILL NOT WORK WITH ARROW SYNTAX DUE TO LEXICAL THIS IN ARROW FUNCTIONS
        const id = $(el).attr('id');
        $(el).children('td').eq(0).text(data[id].toFixed(3));
      })
    })

    socket.on('testdata', (data) => {
      term.write(`testdata_event:${JSON.stringify(data)}\r\n`)
      const dataObj = { x: data.timestamp, y: data.data };
      chart.data.datasets[0].data.push(dataObj);
      chart.update();
    });

    $('input[type=radio][name=lcdMode]').change(async function (event) {
      const self = this;
      console.log({ event, self });
      $(`input[type=radio][name=lcdMode]`).prop("disabled", true);
      const res = await fetch(`set_lcd_mode/${this.value}`);
      $(`input[type=radio][name=lcdMode]`).prop("disabled", false);
    });

  </script>
</body>

</html>