{% extends "base.html" %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">

    <h1 class="display-5 fw-bold">UAVTASG7 Control Panel</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Control Panel for </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <button id="startRec" type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
            <form method="get" action="{{ url_for('recording') }}">
                <button id="downlaod" type="submit" class="btn btn-outline-secondary btn-lg px-4">Start
                    Recording</button>
            </form>
            <form method="get" action="{{ url_for('get_recording') }}">
                <button id="downlaod" type="submit" class="btn btn-outline-secondary btn-lg px-4">Get
                    Recording</button>
            </form>
            <button id="clear" type="button" class="btn btn-outline-secondary btn-lg px-4">Clear Recordings</button>
        </div>
    </div>
</div>

<script>

    async function clearRecordings() {
        const res = await fetch("{{ url_for('clean_output') }}");
    }

    async function onStartRec() {
        console.log("starting recording...");
        //Replacing the video stream with a new one bugs thigns out, it is prefered to just navigate to new page
        // $("#video").attr("src", "{{ url_for('recording_feed') }}");
        // $("#video").remove();
    }

    $("#clear").on('click', clearRecordings);

</script>

{% endblock %}